.hero-container {
    text-align: center;
}

.hero {
    padding-top: 118px;
    padding-bottom: 118px;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4),rgba(47, 48, 58, 0.4)), url('/images-mob/hero-mob.jpg');
    background-size: cover;
    margin: 0px auto;
    max-width: 480px;
    height: 400px;
    background-repeat: no-repeat;   
    background-color: var(--background-solution-color);

@media screen and (min-device-pixel-ratio: 2) and (max-width: 767px) ,
screen and (min-resolution: 192dpi) and (max-width: 767px),
screen and (min-resolution: 2dppx) and (max-width: 767px) {
        background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url('/images-mob/hero-mob@2x.jpg');
    }
    @media screen and (min-width: 768px){
        max-width: 768px;
        background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url('/images-tablet/hero-tablet.jpg');
    }

@media screen and (min-device-pixel-ratio: 2) and (min-width: 768px),
screen and (min-resolution: 192dpi) and (min-width: 768px),
screen and (min-resolution: 2dppx) and (min-width: 768px) {
        background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url('/images-tablet/hero-tablet@2x.jpg');
    }

@media screen and (min-width: 1200px) {
        max-width: 1600px;
        height: 600px;
        padding-top: 200px;
        padding-bottom: 200px;
        background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url('/images/hero.jpg');
    }

@media screen and (min-device-pixel-ratio: 2) and (min-width: 1200px),
screen and (min-resolution: 192dpi) and (min-width: 1200px),
screen and (min-resolution: 2dppx) and (min-width: 1200px) {
        background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url('/images/hero@2x.jpg');
    }
}


.hero__title {
    font-weight: 900;
    font-size: 26px;
    line-height: 1.62;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--white-text-color);
    width: 300px;
    margin-bottom: 30px;
    margin: 0 auto;
    
    @media screen and (min-width: 1200px) {
        width: 696px;
        font-size: 44px;
        line-height: 1.36;
    }
}

.hero__button {
    padding: 10px 24px;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.875;
    display: inline-block;
    align-items: center;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
    letter-spacing: 0.06em;
    color: var(--white-text-color);
    background-color: var(--blue-text-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border:0px;
    transition: background-color var(--transition-dur-and-func);

    &:hover {
        background-color:var(--button-hover-color);
    }

    @media screen and (min-width: 1200px) {
        padding: 10px 32px;
}
}
