.mobile-menu {
    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--team-background-card-color);
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 2px 4px rgba(0, 0, 0, 0.08), 0px 1px 3px rgba(0, 0, 0, 0.16);
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: opacity var(--transition-dur-and-func), visability var(--transition-dur-and-func);
}

.mobile-menu.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}

.mobile-menu__container {
    display: flex;
    flex-direction: column;
    position: relative;
    padding-left: 40px;
    padding-top: 10px;
    padding-bottom: 48px;
    height: 100%;
}

.mobile-menu__close-btn {
    line-height: 0;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 10px;
    right: 15px;
    width: 40px;
    height: 40px;
    border: none;
    background-color: transparent;
    padding: 0;
    cursor: pointer;
    transition: fill var(--transition-dur-and-func);

    &:hover,
        &:focus {
            fill: var(--blue-text-color);
        }
}

.mobile-nav-list {
    margin-bottom: auto;
}

.mobile-nav-list__item {
    margin-bottom: 32px;

    &:first-child{
        margin-top: 38px;
    }
}

.mobile-nav-list__link {
    font-weight: 500;
    font-size: 40px;
    line-height: 1.18;
    letter-spacing: 0.02em;
    color: var(--body-title-color);
    transition: color var(--transition-dur-and-func);

    &:hover,
        &:focus {
            color: var(--blue-text-color);
        }
}

.mobile-nav-list__link_current {
    color: var(--blue-text-color);
}

.mobile-nav-contacts-list__item {
    margin-bottom: 32px;  
}
.mobile-nav-contacts-list__item:last-child {
    margin-bottom: 64px;
}


.mobile-nav-contacts-list__link_tel {
    font-weight: 500;
    font-size: 34px;
    line-height: 1.18;
    letter-spacing: 0.02em;
    color: var(--blue-text-color);
}

.mobile-nav-contacts-list__link_mail {
        font-weight: 500;
        font-size: 24px;
        line-height: 1.16;
        letter-spacing: 0.02em;
        color: var(--body-text-color);
}

.mobile-nav-social-list {
    display: flex;
    flex-wrap: wrap;

    @media screen and (min-width: 480px) and (min-width: 1200px) {
        flex-wrap: nowrap;
    }
}

.mobile-nav-social-list__link {
        font-weight: 500;
        font-size: 18px;
        line-height: 1.22;
        letter-spacing: 0.02em;
        color: var(--blue-text-color);
        }

        .vl {
            border-right: 1px solid rgba(33, 33, 33, 0.2);
            transform: rotate(90deg);
            margin-right: 10px;
            margin-left: 10px;
        }


