:root {
    --blue-text-color:#2196F3;
    --white-text-color:#fff;
    --body-title-color:#212121;
    --black-logotext-color:#000;
    --background-gray-color:#2F303A;
    --background-solution-color:#c4c4c4;
    --body-text-color:#757575;
    --button-hover-color:#188CE8;
    --team-background-color:#F5F4FA;
    --team-background-card-color:#fff;
    --card-border-color:#eeeeee;
    --primary-font: 'Roboto', sans-serif;
    --header-line: #ececec;
    --icon-link-color: #AFB1B8;
    --transition-dur-and-func: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    --background-backdrop: rgba(0, 0, 0, 0.2);
}